.daohang{
	width: 120px;
}
.daohongicon{
	width: 20px;
	height: auto;
	padding-right: 10px;
}
.title{
	height: 90px;
	width: 940px;
	margin: 0 auto 10px;
	background: #FFF;
	box-sizing: border-box;
	padding-left: 40px;
}
.title h3{
	font-size: 16px;
	color: #838fa1;
	line-height: 60px;
	float: left;
}
.bugao{
	height: 510px;
	overflow: hidden;
}
.bugao li{
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: border-box;

}
.bugao li:nth-child(1){
	padding-right: 10px;
}
.bugao li:nth-child(2){
	padding-left: 10px;
}
.inbugao{
	width: 100%;
	height: 100%;
	background: #FFF;
	box-sizing: border-box;
	padding: 20px;
}
.inbugao h2{
	font-size:16px;
	color:#838fa1;
	padding-bottom: 10px;
	border-bottom:1px solid #f1f2f6;
}
.inbugao .xinxi{
	font-size:16px;
	color:#838fa1;
	padding: 20px 0 10px 0;
	border-bottom:1px solid #f1f2f6;
}
.inbugao .allxinxi{
	height: 416px;
	overflow: hidden;
}
.allpage{
	font-size: 16px;
	color: #ff9b26;
	text-align: center;
	padding-top: 10px;
}
.guanzhu{
	float: right;
	color: #FFF;
	width: 70px;
	height: 26px;
	background: #ff9b26;
	text-align: center;
	line-height: 26px;
	border-radius:2px;
	font-size: 14px;
	margin-right: 30px;
}
.cancel{
	background: #cccccc;
}
.titileicon{
	width:40px;
    height: auto;
    padding-right: 10px;
    padding-top: 20px;
}
.titileinfo{
	float: left;
	box-sizing: border-box;
	padding: 20px 0 0 10px;
	color: #ff9b26;
	width: 90%;
}
.titileinfo .biaoti{
	font-size: 16px;
}
.titileinfo .time{
	float: right;
	color: #838fa1;
}
