.daohang {
	width: 120px;
}

.daohongicon {
	width: 20px;
	height: auto;
	padding-right: 10px;
}

.contentlist {
	width: 182px;
	overflow: hidden;
	min-height: 600px;
	border: 1px solid #dddddd;
	float: left;
}

.listtitle {
	width: 100%;
	height: 50px;
	background: #f6f6f6;
	text-align: center;
	line-height: 50px;
	color: #838fa1;
	font-size: 16px;
	overflow: hidden;
}

.listicon {
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}

.listdes {
	float: left;
	margin-left: 20px;
}

.bg {
	background: #FFFFFF;
	border-bottom: 1px solid #DCDCDC;
}

.contentright {
	float: right;
	width: 738px;
	min-height: 863px;
	border: 1px solid #dddddd;
	background: #FFF;
	box-sizing: border-box;
	padding: 20px;
}


/*中间内容筛选*/

.selectactive {
	background: #ff9b26;
	color: #FFF;
}

.safeinfo {
	color: #838fa1;
	font-size: 16px;
}

.contentright .state {
	font-weight: 600;
}

.contentright .safetable {
	background: #f1f2f6;
	overflow: hidden;
	height: 40px;
	margin-top: 30px;
}

.contentright .information {
	font-size: 14px;
	color: #ff9b26;
	margin-top: 40px;
}

.contentright .contentrightlist {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 20px 10px;
	margin-top: 40px;
	border-top: 1px solid #ddd;
}

.contentright .contentrightlist li {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}

.contentright .contentrightlist_ms {
	font-size: 14px;
	color: #838fa1;
	margin-left: 40px;
	float: left;
	width: 100px;
	text-align: right;
}

.contentright .contentrightlist_state {
	font-size: 14px;
	color: #838fa1;
	margin-left: 40px;
	float: left;
	
}
.contentright .switch{
	float: right;
	margin-right: 40px;
}
.contentright .bgactive {
	background: #fafafa;
}

.mui-switch {
	width: 52px;
	height: 31px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none;
}

.mui-switch:before {
	content: '';
	width: 29px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 0;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
	border-color: #ff9b26;
	box-shadow: #ff9b26 0 0 0 16px inset;
	background-color: #ff9b26;
}

.mui-switch:checked:before {
	left: 21px;
}

.mui-switch.mui-switch-animbg {
	transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
	box-shadow: #ff9b26 0 0 0 0 inset;
	background-color: #ff9b26;
	transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
	box-shadow: #ff9b26 0 0 0 16px inset;
	background-color: #ff9b26;
	transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
	transition: left 0.3s;
}