.daohang {
	width: 120px;
}

.daohongicon {
	width: 20px;
	height: auto;
	padding-right: 10px;
}



.contentright {
	width: 100%;
	min-height: 600px;
	border: 1px solid #dddddd;
	background: #FFF;
	box-sizing: border-box;
	padding: 20px;
}
.contentright h2{
	font-size: 16px;
	color: #838fa1;
	text-align: center;
}

/*中间内容筛选*/

.selectactive {
	background: #ff9b26;
	color: #FFF;
}

.safeinfo {
	color: #838fa1;
	font-size: 16px;
}

.contentright .state {
	font-weight: 600;
}

.contentright .safetable {
	background: #f1f2f6;
	overflow: hidden;
	height: 40px;
	margin-top: 30px;
}

.contentright .information {
	font-size: 14px;
	color: #ff9b26;
	margin-top: 40px;
}

.contentright .contentrightlist {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 20px 10px;
	margin-top: 10px;
}


.from{
	width: 580px;
	min-height: 400px;
	margin: 10px auto 0;
	text-align: center;
}
.my{
	margin-top: 30px;
}
.myinfo{
	width: 122px;
	float: left;
	text-align: right;
	font-size: 14px;
	color: #838fa1;
	padding-top: 10px;
}
.mystate{
	width: 100%;
	font-size: 14px;
	color: #ff9b26;
	float: left;
	margin-top: 10px;
	text-align: left;
	text-indent: 110px;
}
.myys{
	height: 30px;
	width: 300px;
	border: 1px solid #ddd;
	float: left;
	margin-left: 30px;
	text-indent: 10px;
}
.yzbtn{
	width: 262px;
	height: 36px;
	border-radius: 4px;
	margin: 40px auto 0;
	text-align: center;
	line-height: 36px;
	background: #ff9b26;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
}
